body
{
	margin: 0;
	background-color: #26282E;
	color: #209781;
    font-family: 'Lobster', sans-serif;
    font-size: 35px;
}

a:link    { color: #209781; text-decoration: none; }
a:visited { color: #209781; }
a:active  { color: #209781; }
a:hover   { color: #E9B64A; }

.label {
	text-align: center;
}

#nameLabel {
	margin-top: 3%;
	font-size: 60px;
}

#scoreLabel {
	margin-top: 1%;
}

.photoContainer {
	/*display: flex;*/
	text-align: center;
	margin-top: 3%;
}

.photoDivSecret {
	filter: brightness(70%);
	display: inline-block;
	padding: 10px;
}

.photoDivKnown {
	filter: brightness(100%);
	display: inline-block;
	padding: 10px;
}

.photoDivSecret:hover {
	filter: brightness(100%);
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

.photo {
	/* origin photo size 220/160*/
	border-radius: 20px;
	border: 2px solid gold;
	/*height: 176px;*/
	height: 110px;
	width: 80px;
	/*width: 128px;*/
}

.hidden {
	/*visibility: hidden;*/
	/*.css({opacity: 1.0, visibility: "visible"}).animate({opacity: 0}, 200);*/
	transition: transform 0.5s linear;
}