body
{
	margin: 0;
	background-color: #26282E;
	color: #209781;
    font-family: 'Lobster', sans-serif;
    font-size: 35px;
}

a:link    { color: #209781; text-decoration: none; }
a:visited { color: #209781; }
a:active  { color: #209781; }
a:hover   { color: #E9B64A; }

.label {
	text-align: center;
}

#nameLabel {
	margin-top: 3%;
	font-size: 60px;
}

#scoreLabel {
	margin-top: 1%;
}

.photoContainer {
	/*display: flex;*/
	text-align: center;
	margin-top: 3%;
}

.photoDivSecret {
	filter: brightness(70%);
	display: inline-block;
	padding: 10px;
}

.photoDivKnown {
	filter: brightness(100%);
	display: inline-block;
	padding: 10px;
}

.photoDivSecret:hover {
	filter: brightness(100%);
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

.photo {
	/* origin photo size 220/160*/
	border-radius: 20px;
	border: 2px solid gold;
}

#finishPop{
	text-align: center;
	font-size: 50px;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: none;
}

#finishPop div{
	padding: 1rem;
}

#reloadBtn{
	border-width: 2px;
	border-color: #209781;
	border-radius: 1rem;
	height: 4rem;
	width: 8rem;
	background-color: #26282E;
	color: #209781;
	font-family: 'Lobster', sans-serif;
	font-size: 2rem;
	cursor: pointer;
	outline: none;
}